<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Game App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body class="bg-terminal-blue-gray text-terminal-light-gray font-retro">
    <header class="bg-terminal-accent p-4 fixed top-0 left-0 w-full z-10">
        <nav class="flex justify-between items-center">
            <h1 class="text-terminal-green">SOCIAL CIRCLE</h1>
            <ul class="flex space-x-4 list-none m-0 p-0">
                <li><a href="/" class="text-terminal-light-gray no-underline hover:underline">HOME</a></li>
                <% if (locals.isLoggedIn) { %>
                    <li><a href="/profile" class="text-terminal-light-gray no-underline hover:underline">PROFILE</a></li>
                    <li><a href="/" class="text-terminal-light-gray no-underline hover:underline">SETTINGS</a></li>
                    <li><a href="/logout" class="text-terminal-light-gray no-underline hover:underline">LOGOUT</a></li>
                <% } else { %>
                        <li><a href="/login" class="text-terminal-light-gray no-underline hover:underline">LOGIN</a></li>
                <% } %>
                <li><a href="/characters" class="text-terminal-light-gray no-underline hover:underline">CHARACTERS</a></li>
                <li><a href="/leaderboard" class="text-terminal-light-gray no-underline hover:underline">LEADERBOARD</a></li>
            </ul>
        </nav>
    </header>
    <main class="pt-16">
