<%- include('../partials/header') %>
<h1 class="text-3xl font-bold text-center text-terminal-green mb-4">Instructions</h1>
    <div class="flex justify-center items-center min-h-screen bg-terminal-blue-gray">
        <p>
            <ul style="padding-left: 5%">
                <li> How to play: </li>
                <li> (Optional Step 1.) Register and create an account on the "register" page, and log in to it </li>
                <li> (Optional Step 2.) Navigate to the "characters" page and review each characters likes and dislikes </li>
                <li> Step 1. After logging in or choosing to stay as a guest, navigate to the "home" page </li>
                <li> Step 2. Click on "Start Game" </li>
                <li> Step 3. You will be shown 3 groups of friends, and you will have different options for gameplay </li>
                <li> Step 4. After reading who the people are in each group, you will then be able to choose what action you want to perform with your chosen group </li>
                <li> Step 5. After selecting your action and group, click on "Go," afterwards you will be given your score for the current round </li>
                <li> Step 6. You will be scored based on the preferences of the people in the group and the action you took, bringing you to the next round </li>
                <li> Step 7. Then, this process will be repeated until the 60 second time limit runs out, and you will be given your high score </li>
                <li> If logged in, your high score for the game will be saved to the leaderboard, if not, then nothing happens </li>
                <li> Now you know how to play our Social Circles game! </li>
            </ul>
        </p>
    </div>
<%- include('../partials/footer') %>