<%- include('../partials/header') %>
    <div class="container mx-auto text-center mt-12">
        <h1>Welcome, <%= username %>!</h1>
        <div
            class="game-box border-2 border-terminal-green p-5 mt-5 mx-auto w-4/5 h-96 flex justify-around items-center">
            <div class="inner-box border-2 border-terminal-green w-1/3 h-4/5"></div>
            <div class="inner-box border-2 border-terminal-green w-1/3 h-4/5"></div>
            <div class="inner-box border-2 border-terminal-green w-1/3 h-4/5"></div>
        </div>
        <button
            class="start-button mt-5 px-5 py-2 bg-terminal-gray text-terminal-green border-2 border-terminal-green cursor-pointer">[
            START
            GAME ]</button>
        <div class="subdued-text mt-2 text-terminal-gray text-xs">// guest mode -- Progress will not be saved. //</div>
    </div>
    <%- include('../partials/footer') %>